@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
}
.app-container {
  font-family: 'Roboto', sans-serif !important;
}
#root {
  height: 100%;
  width: 100%;
}

.app-container{
  width:100%;
  height:100%;
  overflow: hidden;
}